.public-res-cont{
    margin-top: 4vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.public-res-cont div{
    border-radius: 50%;
    margin: 2vw;
    background-color: black;
    margin: 1vw;
    color: white;
}

.public-res-cont .res-name {
    color: #e2a44c;
}

.pub-res{
    width:20vw;
    height: 20vw;
    background-size: 20vw;
    border-radius: 50%;
    margin: 3vw;
}

.public-res-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;

}

.public-res-inner-container{
    text-align:center;
    margin-top:-25%;
    padding: 1vw;
    display:none;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    ;


}


.public-resource-display-container{
    position: relative;
}

.public-resource-display-container:hover .public-res-inner-container{
    display: block;

}