.login-container{
    background-color: black;
    color: white;
    opacity: 90%;
    max-width: 100% !important;
    width: 25vw;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    border-radius: 5px;

}

.login-container button{
    background-color: #e2a44c;
    border-color: orange;
    opacity: 100%;
}

.form-group .login-input{
    background-color: white !important;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    background: red;
}

.login-container button:hover{
    background-color: orange;
    border-color: white;
}

.login-img{

    position: absolute;
    z-index: -1;
    right:1vw;
    left: 1vw;
    width: 100%;
}

.login-super-container.container{
    height: 700px;
    max-width: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/bookr-thumbs-up.appspot.com/o/Center-Barbershop-16.jpg?alt=media&token=1597bca2-b4c8-40cd-8967-0b62f9206795");

}

.loginh3{
    color: white;
}